<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Resources</h1>
  </div>
  <div class="card w-75">
    <h5 class="card-header">Windows Server Resources</h5>
    <div class="card-body">
      <a href="https://drive.google.com/file/d/14DBXQ5-t8IdP785nU5vyf_Rgnr3Dr68c/view?usp=sharing" class="card-link">Windows Server Checklist</a>
    </div>
  </div>
  <br>
  <div class="card w-75">
    <h5 class="card-header">Windows 10 Resources</h5>
    <div class="card-body">
      <a href="https://drive.google.com/file/d/1TYexxTlNCGs--2ci-YMc-YnuNeYkjZ_a/view?usp=sharing" class="card-link">About Windows 10</a>
      <a href="https://drive.google.com/file/d/1q7Ey5wNPsicXu7z4qsvcCXNir4Hi-U87/view?usp=sharing" class="card-link">Windows 10 Checklist #1</a>
      <a href="https://drive.google.com/file/d/1lsw9SEcz393jS3e4jbReX_iUgmrdtYL7/view?usp=sharing" class="card-link">Windows 10 Checklist #2</a>
      <a href="https://drive.google.com/file/d/1P6azuzFGwXTxUwZtqhK0dDCB6TF22Ecf/view?usp=sharing" class="card-link">Windows 10 Checklist #3</a>
    </div>
  </div>
  <br>
  <div class="card w-75">
    <h5 class="card-header">Linux Resources</h5>
    <div class="card-body">
      <a href="https://drive.google.com/file/d/1inGIwhzeJLUqkooBg_LRbpgaJyMnZYso/view?usp=sharing" class="card-link">Linux Checklist #1</a>
      <a href="https://drive.google.com/file/d/1VNP9IjkMPhkK_UXuQqUHl-P8nDGV6CGo/view?usp=sharing" class="card-link">Linux Checklist #2</a>
      <a href="https://drive.google.com/file/d/11AP8WuhtSoKPX-RQJhFMogECBsB6Jaxv/view?usp=sharing" class="card-link">Linux Checklist #3</a>
    </div>
  </div>
  <br>
  <div class="card w-75">
    <h5 class="card-header">Cisco Packet Tracer Resources</h5>
    <div class="card-body">
      <a href="https://drive.google.com/file/d/1emZVBx3oVsGhTbX3MCyQl3W-JDNEEk0_/view?usp=sharing" class="card-link">Cisco IOS Commands</a>
    </div>
  </div>
</main>
